.find-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    text-align: center;
}

.find-icons__icon i {
    font-size: 32px;
}

.find-icons__icon span {
    margin-top: 18px;
}

.recommended-friends {
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    margin: 25px var(--horizontal);
    padding: 25px 0;
}

.recommended-friends__title {
    font-size: 14px;
    color: var(--gray);
}

.recommended-friends span {
    display: block;
    margin: 100px 0;
    text-align: center;
    color: var(--gray);
}