.friends-display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    padding: 10px 0;
}

span~img {
    margin-left: 6px;
}

.friends-display span {
    font-size: 18px;
    font-weight: bold;
}