.comment-alt__icons__jc {
    display: flex;
    padding-right: var(--horizontal);
}

.user-component__more__subtitle {
    display: flex;
    align-items: center;
    text-align: center;
}

.fa-exclamation-circle {
    color: red;
    margin-top: 8px;
    margin-left: 8px;
}

.more-suggestions {
    margin-top: 50px;
    padding-top: 30px;
    border-top:  var(--main-border);
}

.more-suggestions__title {
    margin-bottom: 30px;
}