.alt-header {
    padding: var(--horizontal);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #abc1d1;
    z-index: 1;
}

.alt-header__column {
    width: 33%;
}

.alt-header__column:nth-child(2) {
    display: flex;
    justify-content: center;
}

.alt-header__column:last-child {
    display: flex;
    justify-content: flex-end;
}

.alt-header__column:last-child i:last-child {
    margin-left: 15px;
}

.alt-header__title {
    font-size: 32px;
    font-weight: 600;
}
