.screen-component__channel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
    padding: 15px 0;
    margin: 0 var(--horizontal);
    border-top: var(--main-border);
}

.user-component__text__channel {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-right: 10px;
}

.user-component__column__time,
.user-component__more {
    color :var(--gray);
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: var(--horizontal);
}