.nav {
    padding: 15px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color:#2e363e;
    position: relative;
}

.nav__chat__notification {
    position: absolute;
    left: 20px;
    bottom: 20px;
    }

.nav__notification {
    width: 5px;
    height: 5px;
    display: flex;
    position: absolute;
    left: 25px;
    bottom: 30px;
    background-color: tomato;
    border-radius: 50%;
}

