.screen-header {
    display: flex;
    padding: var(--horizontal);
    justify-content: space-between;
    font-size: 32px;
    font-weight: 600;
    align-items: center;
}

.screen-header__icons__img {
    margin-left: 10px;
}