.screen-header {
    display: flex;
    padding: var(--horizontal);
    justify-content: space-between;
    font-size: 32px;
    font-weight: 600;
    align-items: center;
}

.main-screen {
    align-items: center;
    justify-content: space-between;
}

.display__flex {
    display: flex;
}